<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
</ngx-spinner>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(./assets/app/media/img/bg/bg1.jpg);">
    <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
					<img src="./assets/app/media/img/logos/ap-dc-logo-final_red*512.png" style="width: 250px;">
                </a>
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">
						AP Police
                    </h3>
                </div>

                <form [formGroup]="loginForm" class="m-login__form m-form" *ngIf="submitFlag">
                    <ng-template #alertSignin></ng-template>
                    <div class="form-group m-form__group">
                        <!-- <input class="form-control m-input" type="text" placeholder="Enter Mobile Number" name="mobile" formControlName="mobile"
						 pattern="^[789]\d{9}$" required minlenght="10" maxlength="10" autocomplete="off">
						<div class="alert" *ngIf="!loginForm.controls['mobile'].valid && loginForm.controls['mobile'].touched">
							<b>!</b> Mobile number should be 10 digits
							<div class="" [hidden]="!loginForm.controls['mobile'].hasError('required')">
								<b>!</b> Field Required
							</div>
							<div class="" [hidden]="!loginForm.controls['mobile'].hasError('minlength')">
								<b>!</b> Mobile number should be 10 digits
							</div>
							<div class="" [hidden]="!loginForm.controls['mobile'].hasError('pattern')">
								<b>!</b> Contact number should be proper.
							</div>
						</div> -->
                        <input class="form-control m-input" type="text" placeholder="Enter Email id" name="email" formControlName="email" pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$" required>
                        <div class="alert" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                            <b>!</b> Please Enter Email id
                            <div class="" [hidden]="!loginForm.controls['email'].hasError('required')">
                                <b>!</b> Field Required
                            </div>
                            <div class="" [hidden]="!loginForm.controls['email'].hasError('pattern')">
                                <b>!</b> Email id should be in proper format </div>
                        </div>
                        <input class="form-control m-input" type="password" placeholder="Enter password" name="password" formControlName="password" required minlength="6" autocomplete="off">
                        <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                            <div class="" [hidden]="!loginForm.controls['password'].hasError('required')">
                                <b>!</b> Field Required
                            </div>
                            <div class="" [hidden]="!loginForm.controls['password'].hasError('minlength')">
                                <b>!</b> Password should be at least 8 characters long
                            </div>
                            <!-- <div class="" [hidden]="!loginForm.controls['password'].hasError('pattern')">
								<b>!</b> Contact number should be proper.
							</div> -->
                        </div>
                        <div class="m-login__form-action">
                            <button [disabled]="!loginForm.valid" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" (click)="submit(loginForm.value)">
								Submit
							</button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- <div class="m-login__signup">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Sign Up
					</h3>
					<div class="m-login__desc">
						Enter your details to create your account:
					</div>
				</div>
				<form (ngSubmit)="f.form.valid && signup()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertSignup></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Fullname" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel"
						 autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword"
						 [(ngModel)]="model.rpassword" #rpassword="ngModel">
					</div>
					<div class="row form-group m-form__group m-login__form-sub">
						<div class="col m--align-left">
							<label class="m-checkbox m-checkbox--light">
								<input type="checkbox" name="agree" [(ngModel)]="model.agree" #agree="ngModel"> I Agree the
								<a href="#" class="m-link m-link--focus">
									terms and conditions
								</a>
								.
								<span></span>
							</label>
							<span class="m-form__help"></span>
						</div>
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signup_submit"
						 class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
							Sign Up
						</button>
						&nbsp;&nbsp;
						<button [disabled]="loading" id="m_login_signup_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
							Cancel
						</button>
					</div>
				</form>
			</div>
			<div class="m-login__forget-password">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Forgotten Password ?
					</h3>
					<div class="m-login__desc">
						Enter your email to reset your password:
					</div>
				</div>
				<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
					<ng-template #alertForgotPass></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel"
						 id="m_email" autocomplete="off">
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit"
						 class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
							Request
						</button>
						&nbsp;&nbsp;
						<button [disabled]="loading" id="m_login_forget_password_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
							Cancel
						</button>
					</div>
				</form>
			</div> -->
            <!-- <div class="m-login__account">
				<span class="m-login__account-msg">
					Don't have an account yet ?
				</span>
				&nbsp;&nbsp;
				<a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
					Sign Up
				</a>
			</div> -->
        </div>
    </div>
</div>