.alert {
    color: #ff0000c9;
    padding-bottom: 13px;
    padding-top: 0;
    background: none;
    padding-left: 29px;
    margin-bottom: 0;
  }
  .alert.m-alert--outline.alert-danger {
    color: #575962;
    /* background-color: #fff; */
    border-color: #f4516c;
    color: #f0f0f0;
    background: none;
    // color: none;
    padding: 12px;
    width: 80%;
    margin: auto;
    font-weight: 400;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container {
    // width: 430px;
    margin: 15% auto !important;
}