<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Fetching Users..." type="ball-scale-multiple">
</ngx-spinner>

<!-- Delete user Modal -->

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="swamp">
                    <span>!</span>
                    <br>
                    <h5>
                        Are you sure you want reject it?
                    </h5>
                    <br> You won't be able to revert this!
                    <div class="swamp-btn">
                        <button type="button" class="swal2-cancel btn btn-sm btn-secondary m-btn m-btn--custom" aria-label="" style="display: inline-block;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="swal2-confirm btn btn-sm btn-danger m-btn m-btn--custom" aria-label="" data-dismiss="modal" (click)="rejectUserRequest()">Yes, Reject it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->


<div class="modal fade" id="userCardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
    
                <div class="modal-body">
                    <iframe src="https://edenredcards.co.in" width="800">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
<!-- Accept user Modal -->
<div class="modal fade" id="acceptUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
    
                <div class="modal-body">
                    <div class="swamp">
                        <span>$</span>
                        <br>
                        <h5>
                            Enter the accept amount?
                        </h5>
                        <br>
                        <input type="number" #amountValue class="form-control m-input m-input--solid ng-untouched ng-pristine ng-valid">
                        <div class="swamp-btn">
                            <button type="button" class="swal2-cancel btn btn-sm btn-success m-btn m-btn--custom" style="display: inline-block;" (click)="approveUserRequest(amountValue.value)" data-dismiss="modal">Approve</button>
                            <button type="button" class="swal2-confirm btn btn-sm m-btn btn-danger m-btn--custom" data-dismiss="modal"   data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal-->

<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="row">
                            <div class="col-9">

                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Pending Request
                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-10">
                                    <h3 class="m-portlet__head-text">
                                        Basic Tables
                                    </h3>
                                </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="" id="no-more-tables">
                            <!-- roles viewAccess='["superAdmin","admin"]' -->
                            <div class="table-responsive  cf">
                                <table class="table ">
                                    <thead class="cf">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Amount Requested</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ad of requestDetails; let i=index">
                                            <td data-title="#">{{i+1}}</td>
                                            <td data-title="Name">{{ad.userId.name | capitalize:true}}</td>
                                            <td data-title="Mobile">{{ad.userId.mobile}}</td>
                                            <!-- <td data-title="Email">{{ad.email}}</td> -->
                                            <!-- <td data-title="Email">{{ad.organization}}</td> -->
                                            <td data-title="Role">{{ad.amountRequested}}</td>
                                            <td>
                                                    <!-- (click)="viewUserProfile(ad)" -->
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" (click)="approveRequest(ad._id)" data-target="#acceptUserModal">
                                                    <i class="la la-check"></i>
                                                </button>

                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" (click)="approveRequest(ad._id)" data-target="#deleteUserModal">
                                                        <i class="la la-close"></i>
                                                </button>
                                                
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" (click)="cardPage()">
                                                        <i class="la la-credit-card"></i>
                                                </button>
                                                
                                                <!-- <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteUserModal" (click)="deleteUserModal(ad)">
                                                    <i class="la la-user"></i>
                                                </button>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="openModal(ad,i)" data-toggle="modal" data-target="#modalSlideUp">
                                                    <i class="la la-edit"></i>
                                                </button>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteUserModal" (click)="openModal(ad,i)">
                                                    <i class="la la-trash"></i>
                                                </button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class=" btn-group pull-right">
                                    <ul class="pagination">
                                        <li>
                                            <a (click)="previousPage()" href="#">
                                                <i class="fa fa-angle-left"></i> prev</a>
                                        </li>
                                        <li>
                                            <a (click)="nextPage()" href="#">next
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                    
                </div>
                <!--end::Form-->
                
            </div>
        </div>
    </div>
</div>




<!-- END: Subheader -->
<div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="row">
                                <div class="col-9">
    
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            All Transactions
                                        </h3>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-10">
                                        <h3 class="m-portlet__head-text">
                                            Basic Tables
                                        </h3>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="" id="no-more-tables">
                                <!-- roles viewAccess='["superAdmin","admin"]' -->
                                <div class="table-responsive  cf">
                                    <table class="table ">
                                        <thead class="cf">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Amount Requested</th>
                                                <th>Amount Approve</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ad of allTransactions; let i=index">
                                                <td data-title="#">{{i+1}}</td>
                                                <td data-title="Name">{{ad.userId.name | capitalize:true}}</td>
                                                <td data-title="Mobile">{{ad.userId.mobile}}</td>
                                                <!-- <td data-title="Email">{{ad.email}}</td> -->
                                                <!-- <td data-title="Email">{{ad.organization}}</td> -->
                                                <td data-title="Role">{{ad.amountRequested}}</td>
                                                <!-- <td> -->
                                                        <td>{{ad.amountApproved}}</td>
                                                    <td>{{ad.status}}</td>
                                                        <!-- (click)="viewUserProfile(ad)" -->
                                                    <!-- <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" (click)="approveRequest(ad._id)" data-target="#acceptUserModal">
                                                        <i class="la la-check"></i>
                                                    </button>
    
                                                    <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" (click)="approveRequest(ad._id)" data-target="#deleteUserModal">
                                                            <i class="la la-close"></i>
                                                        </button> -->
                                                    
                                                    <!-- <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteUserModal" (click)="deleteUserModal(ad)">
                                                        <i class="la la-user"></i>
                                                    </button>
                                                    <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="openModal(ad,i)" data-toggle="modal" data-target="#modalSlideUp">
                                                        <i class="la la-edit"></i>
                                                    </button>
                                                    <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteUserModal" (click)="openModal(ad,i)">
                                                        <i class="la la-trash"></i>
                                                    </button> -->
                                                <!-- </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
    
                                    <!-- <div class=" btn-group pull-right">
                                        <ul class="pagination">
                                            <li>
                                                <a (click)="previousPage()" href="#">
                                                    <i class="fa fa-angle-left"></i> prev</a>
                                            </li>
                                            <li>
                                                <a (click)="nextPage()" href="#">next
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!--end::Section-->
                        
                    </div>
                    <!--end::Form-->
                    
                </div>
            </div>
        </div>
    </div>