#map {
    min-height: 549px; // border:2px solid rgb(99, 131, 152);
    box-shadow: 1px 1px 1px 1px #bbb;
}

@media (max-width: 600px) {
    #map {
        min-height: 500px; // border:2px solid rgb(99, 131, 152);
        box-shadow: 1px 1px 1px 1px #bbb;
    }
}

.infoMessages {
    overflow-y: scroll;
    height: 100px;
    width: 300px;
    margin-left: 30%;
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}