<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Getting Route Details..." type="ball-scale-multiple">
</ngx-spinner>

<div class="m-content">
    <!-- <div class="row"> -->
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-12">
                <div class="m-portlet">
                    <div class="m-portlet__body">
                        <!--begin::Section-->
                        <div class="m-section">
                            <div class="m-section__content m-portlet__head-text">
                                Select Vehicles for Route Replay
                            </div>
                            <form class="m-form" id="form-vehicle" role="form" [formGroup]="vehicleForm" novalidate>
                                <div class="m-form__section m-form__section--first">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group">
                                                <ng-select [items]="devices" [multiple]="true" bindLabel="vehicle_number"
                                                    bindValue="imei" placeholder="Select.." formControlName="imei"
                                                    clearAllText="Clear" (change)="selectVehicle(vehicleForm.value)"
                                                    required></ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="m-form__section m-form__section" style="margin-top: 10px;">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12">
                                        <div class="form-group m-form__group">
                                            <ng-select [items]="speedArray" [(ngModel)]="selectedSpeed" bindLabel="lable"
                                                bindValue="value" placeholder="Speed" clearAllText="Clear" (change)="selectSpeedMethod()"
                                                required></ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <!-- <div class="col-6">
                                    <label for="startDate">Start Date</label>
                                    <angular2-date-picker (onDateSelect)="onDateSelect($event)" [(ngModel)]="date"
                                        [settings]="settings"></angular2-date-picker>
                                </div> -->
                                <div class="col-6">
                                    <label for="startDate">Start Date</label>
                                    <angular2-date-picker (onDateSelect)="setStartDate($event)" [(ngModel)]="startdate"
                                        [settings]="settings"></angular2-date-picker>
                                </div>
                                <div class="col-6">
                                    <label for="endDate">End Date</label>
                                    <angular2-date-picker (onDateSelect)="setEndDate($event)" [(ngModel)]="enddate"
                                        [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button [ngClass]="{'disable': this.mapStatus.start ? false : true}" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air"
                            (click)="start()">
                            <i class="la la-play"></i>
                        </button>
                        <button [ngClass]="{'disable': this.mapStatus.pause ? false : true}" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air"
                            (click)="pause()">
                            <i class="la la-pause"></i>
                        </button>

                        <button [ngClass]="{'disable': this.mapStatus.pause ? false : true}" (click)="stop()" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air">
                            <i class="la la-stop"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showFlag==true  && mapDetails!=undefined">
            <div class="col-12">
                <div class="m-portlet">
                    <div class="m-portlet__body">
                        <div class="m-section">
                            <div class="m-section__content m-portlet__head-text">
                                <h4>
                                    Details
                                </h4>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    Ignition:
                                </div>
                                <div class="col-3">
                                    {{mapDetails.ignition }}
                                </div>

                                <div class="col-3">
                                    Speed:
                                </div>
                                <div class="col-3">
                                    {{mapDetails.speed }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    TimeStamp:
                                </div>
                                <div class="col-8">
                                    {{mapDetails.time |date:'medium' || "No date to show"}}
                                </div>
                            </div>

                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 col-sm-12">
        <div class="m-portlet">
            <div class="span11">
                <div id="map" #map></div>
                <ul id="instructions">
                </ul>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>