@import '../map/map.component.scss';

.m-form .m-form__group {
    margin-bottom: 0;
     padding-top: 0px; 
     padding-bottom: 0px; 
}
.m-section {
     margin: 0; 
}
.topBox{
    margin-top: 20px;
    // margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px

}
.noData{
    z-index: 9999;
    color: #03A9F4;
    margin-top: 109px;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 2rem;
    top: 40%;
    left: 20%;
}