<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Fetching Live Location..." type="ball-scale-multiple">
</ngx-spinner>
<div class="m-content">
    <div class="m-portlet__body">
        <div class="row">
            <!-- <div class="col-12"> -->
                <!-- <div class="m-portlet"> -->
                    <!-- <div class="m-portlet__body"> -->
                        <!-- <div class="m-section"> -->
                            <!-- <div class="m-section__content m-portlet__head-text">
                                <span>Selects Vehicles for Live Tracking</span>
                            </div> -->
                            <!-- <hr> -->
                            <!-- <form class="m-form" id="form-vehicle" role="form" [formGroup]="vehicleForm" novalidate>
                                <div class="form-group m-form__group row">
                                    <div class="col-12">
                                        <div class="form-group m-form__group">
                                            <ng-select [items]="devices" (change)="vehicleTracking(vehicleForm.value)" [multiple]="true" bindLabel="vehicle_number" bindValue="imei" formControlName="imei" clearAllText="Clear" placeholder="Select.." required></ng-select> -->
                                            <!-- <angular2-date-picker (onDateSelect)="onDateSelect($event)" formControlName="date" [settings]="settings">
                                                </angular2-date-picker> -->
                                        <!-- </div>
                                    </div>
                                </div>
                            </form> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <div class="col-12 col-sm-12">
                <div class="m-portlet">
                    <div class="span11">
                        <div id="map" #map></div>
                        <ul id="instructions">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div style="margin: 15px;"><img src="http://www.staticcodes.io/appolice/apuser.png"> Police </div>
                <div style="margin: 15px;"><img src="http://www.staticcodes.io/appolice/apcar.png"> Vehicles</div>
                <!-- <div class="m-portlet" *ngIf="flag==false">
                    <div class="m-portlet__body">
                        <div class="m-section" style="height:328px; ">
                            <div class="m-section__content m-portlet__head-text">
                                <h4>
                                    Details
                                </h4>
                            </div>
                            <div class="noData">No Data Found</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="m-portlet col-md-4 offset-md-1" *ngFor="let trackingInfo of trackingData">
                        <div class="m-portlet__body" style="padding: 1.2rem 0rem;" *ngIf="trackingInfo.result">
                            <div class="m-section" style="height:328px; ">
                                <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                        Details
                                    </h4>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            Vehicle Number
                                        </div>
                                        <div class="col-6">
                                           <b>{{trackingInfo.vehicleNumber}}</b> 
                                        </div>
                                       
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-3">
                                            Ignition
                                        </div>
                                        <div class="col-3">
                                            {{trackingInfo.result.ignitionStatus}}
                                        </div>
                                        <div class="col-3">
                                            Speed
                                        </div>
                                        <div class="col-2">
                                            {{trackingInfo.result.speed}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            TimeStamp
                                        </div>
                                        <div class="col-7">
                                            {{trackingInfo.result.time | date:'medium' || 'No Data Found'}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Odometer
                                        </div>
                                        <div class="col-7">
                                            {{trackingInfo.result.odometer || 'No Data Found'}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Fuel
                                        </div>
                                        <div class="col-7" *ngIf="trackingInfo.result.imei == '1933020123361'">
                                            {{ +trackingInfo.result.AnalogInput * 0.71428 || 0 }}
                                        </div>
                                        <div class="col-7" *ngIf="trackingInfo.result.imei != '1933020123361'">
                                            {{ +trackingInfo.result.AnalogInput * 0.71428  || 0 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="m-portlet__body" *ngIf="!trackingInfo.result">
                            <div class="m-section" style="height:328px; ">
                                <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                        Details
                                    </h4>
                                </div>
                                <div>
                                <div class="row">
                                        
                                    No Data Found
                                   
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>