<!-- ADD vehicle Modal -->
<div class="modal fade" id="assignVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Assign Bin
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                      &times;
                  </span>
              </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-addVehicle" [formGroup]="assignBinForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                  Select Bin
                              </label>
                                <div class="col-lg-9">
                                    <!-- <input type="text" class="form-control m-input" name="vehicle_number" formControlName="vehicle_number" pattern="^[A-Z]{2}\s[0-9]{1,3}\s[A-Z]{1,2}\s[0-9]{1,4}$" required placeholder="Enter Vehicle's Number">
                                    <div class="form-control-feedback" *ngIf="!assignBinForm.controls['vehicle_number'].valid && assignBinForm.controls['vehicle_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!assignBinForm.controls['vehicle_number'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!assignBinForm.controls['vehicle_number'].hasError('pattern')">
                                            <b>!</b> Please Enter Proper Vehicle Number In Capitals
                                        </div>
                                    </div> -->
                                    <ng-select [items]="bins" bindLabel="geo_nm" bindValue="_id" [multiple]="true" formControlName="bins" clearAllText="Clear" (change)="selectBins($event)" required>
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.geo_nm}}
                                            <!-- <br/> -->
                                            <!-- <small>{{item.name}}</small> -->
                                        </ng-template>
                                    </ng-select>

                                    <div class="form-control-feedback" *ngIf="!assignBinForm.controls['bins'].valid && assignBinForm.controls['bins'].touched">
                                        <b>!</b> Bins is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button [disabled]="loading" type="reset" class="btn btn-secondary" data-dismiss="modal">
                                      Cancel
                                  </button>
                                    <button type="reset" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="btn btn-success" data-dismiss="modal" [disabled]="!assignBinForm.valid" [ngClass]="{'button-cursor' : !assignBinForm.valid}" (click)="assignBinToVehicle()">
                                      Submit
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->