<!--Assign Bin Modal-->
<app-assign-bin [refreshBins]="refreshBins" (updateBins)='updateBins($event)'></app-assign-bin>
<!-- Assign Bin Modal-->
<!-- ADD vehicle Modal -->
<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add New Vehicle
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-addVehicle" [formGroup]="addVehicleForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Vehicle Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="vehicle_number" formControlName="vehicle_number" pattern="^[A-Z]{2}\s[0-9]{1,3}\s[A-Z]{1,2}\s[0-9]{1,4}$" required placeholder="Enter Vehicle's Number">
                                    <div class="form-control-feedback" *ngIf="!addVehicleForm.controls['vehicle_number'].valid && addVehicleForm.controls['vehicle_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addVehicleForm.controls['vehicle_number'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!addVehicleForm.controls['vehicle_number'].hasError('pattern')">
                                            <b>!</b> Please Enter Proper Vehicle Number In Capitals
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Chassis Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="chassis_number" formControlName="chassis_number" placeholder="Enter Chassis Number " pattern="^[a-zA-Z0-9]{15}$" maxlength="15" required>

                                    <div class="form-control-feedback" *ngIf="!addVehicleForm.controls['chassis_number'].valid && addVehicleForm.controls['chassis_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addVehicleForm.controls['chassis_number'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Chassis Number
                                        </div>
                                        <div class="" [hidden]="!addVehicleForm.controls['chassis_number'].hasError('maxlength')">
                                            <b>!</b> Chassis Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!addVehicleForm.valid" [ngClass]="{'button-cursor' : !addVehicleForm.valid}" (click)="addVehicle(addVehicleForm.value)">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->

<!-- EDIT User Modal -->

<div class="modal fade" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Update Vehicle's Data
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-edit" [formGroup]="editForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Vehicle Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="vehicle_number" formControlName="vehicle_number" pattern="^[A-Z]{2}\s[0-9]{1,3}\s[A-Z]{1,2}\s[0-9]{1,4}$" required placeholder="Enter Vehicle's Number">
                                    <div class="form-control-feedback" *ngIf="!editForm.controls['vehicle_number'].valid && editForm.controls['vehicle_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!editForm.controls['vehicle_number'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['vehicle_number'].hasError('pattern')">
                                            <b>!</b> Please Enter Proper Vehicle NumberIn Capitals
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Chassis Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="chassis_number" formControlName="chassis_number" placeholder="Enter Chassis Number " pattern="^[a-zA-Z0-9]{15}$" maxlength="15" required>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['chassis_number'].valid && editForm.controls['chassis_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!editForm.controls['chassis_number'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Chassis Number
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['chassis_number'].hasError('maxlength')">
                                            <b>!</b> Chassis Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!editForm.valid" (click)="editVehicleDetails(editForm.value)">
                                        <!-- [ngClass]="{'button-cursor' : !editUserDetails.valid}"  -->
                                        
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- End Modal-->

<!-- view User details Modal -->

<div class="modal fade" id="viewVehicleProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Vehicle's Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Vehicle Number:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedVehicle.vehicle_number |capitalize:true }}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Chassis Number:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedVehicle.chassis_number}}</label>
                        </div>
                    </div>
                    <hr>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- End Modal-->

<!-- Delete user Modal -->

<div class="modal fade" id="deleteVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="swamp">
                    <span>!</span>
                    <br>
                    <h5>
                        Are you sure you want to delete it?
                    </h5>
                    <br> You won't be able to revert this!
                    <div class="swamp-btn">
                        <button type="button" class="swal2-cancel btn btn-sm btn-secondary m-btn m-btn--custom" aria-label="" style="display: inline-block;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="swal2-confirm btn btn-sm btn-danger m-btn m-btn--custom" aria-label="" data-dismiss="modal" (click)="deleteVehicle()">Yes, delete it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->

<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="row">
                            <div class="col-9">

                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Vehicle Details
                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-10">
                                    <h3 class="m-portlet__head-text">
                                        Basic Tables
                                    </h3>
                                </div> -->
                            <div class="col-3 ">
                                <!-- <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air createButton" data-toggle="modal" data-target="#addVehicleModal" (click)="clearField()">
                                    <div data-content="Upload Bins Via Excel" data-container="body" data-toggle="m-popover" data-placement="left">
                                        <i class="la la-trash"></i>
                                    </div>
                                </button> -->

                                <!-- <button class="btn btn-success" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                        data-placement="left" data-toggle="m-popover" type="button" data-original-title="" title=""> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="" id="no-more-tables">
                            <!-- roles viewAccess='["superAdmin","admin"]' -->
                            <div class="table-responsive  cf">
                                <div class="col-md-4 col-sm-12 offset-md-8 ">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="inputName" [(ngModel)]="inputName">
                                        <!-- (keyup)="FilterByName()" -->
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <table class="table ">
                                    <thead class="cf">
                                        <tr>
                                            <th>#</th>
                                            <th>Vehicle Number</th>
                                            <th>Chassis Number</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ad of items; let i=index">
                                            <td data-title="#">{{i+1}}</td>
                                            <td data-title="Vehicle Number">{{ad.vehicle_number | capitalize:true}}</td>
                                            <td data-title="Mobile">{{ad.chassis_number}}</td>

                                            <td>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#viewVehicleProfile" (click)="viewVehicleProfile(ad)">
                                                    <i class="la la-user"></i>
                                                </button>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="openModal(ad)" data-toggle="modal" data-target="#assignVehicleModal">
                                                    <i class="la la-plus"></i>
                                                </button>
                                                <!-- <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteVehicleModal" (click)="openModal(ad)">
                                                    <i class="la la-trash"></i>
                                                </button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class=" btn-group pull-right">
                                    <ul class="pagination">
                                        <li>
                                            <a (click)="previousPage()" href="#">
                                                <i class="fa fa-angle-left"></i> prev</a>
                                        </li>
                                        <li>
                                            <a (click)="nextPage()" href="#">next
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>