<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Getting Report..." type="ball-scale-multiple">
</ngx-spinner>

<div class="m-content">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-12">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="row">
                                <div class="col-9">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Reports
                                        </h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-section">

                            <form class="m-form" id="form-reports" role="form" [formGroup]="reportsForm" novalidate>
                                <div class="m-form__section m-form__section--first">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group">
                                                <div class="m-section__content m-portlet__head-text">
                                                    Select Type of Report
                                                    <ng-select [items]="reports" placeholder="Select Report Type" formControlName="reportType" clearAllText="Clear" (change)="selectReportType(reportsForm.value)" required></ng-select>
                                                    <div class="form-control-feedback" *ngIf="!reportsForm.controls['reportType'].valid && reportsForm.controls['reportType'].touched">
                                                        <!-- <b>!</b> Field Required -->
                                                        <div class="" [hidden]="!reportsForm.controls['reportType'].hasError('required')">
                                                            <b>!</b> Field Required
                                                        </div>
                                                        <!-- <div class="" [hidden]="!reportsForm.controls['reportType'].hasError('maxlength')">
                                                            <b>!</b> Driver's name length limit reached
                                                        </div>
                                                        <div class="" [hidden]="!reportsForm.controls['reportType'].hasError('pattern')">
                                                            <b>!</b> Driver's name should only be alphabets and less space
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="m-section__content m-portlet__head-text" *ngIf="reportsForm.value.reportType!=null && reportsForm.value.reportType=='Vehicle Wise'">
                                                    Select Vehicle Number
                                                    <ng-select [items]="devices" placeholder="Select IMEI" formControlName="imei" bindValue="imei" bindLabel="vehicle.vehicle_number" clearAllText="Clear" (click)="selectReportType(reportsForm.value)" required></ng-select>
                                                    <div class="form-control-feedback" *ngIf="!reportsForm.controls['imei'].valid && reportsForm.controls['imei'].touched">
                                                        <!-- <b>!</b> Field Required -->
                                                        <div class="" [hidden]="!reportsForm.controls['imei'].hasError('required')">
                                                            <b>!</b> Field Required
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="m-section__content m-portlet__head-text" *ngIf="reportsForm.value.reportType!=null && reportsForm.value.reportType=='Bin Wise'">
                                                    Select BIN
                                                    <ng-select [items]="binsArray" placeholder="Select Bin" formControlName="bin" bindValue="_id" bindLabel="geo_nm" clearAllText="Clear" (click)="selectReportType(reportsForm.value)" required></ng-select>
                                                    <div class="form-control-feedback" *ngIf="!reportsForm.controls['bin'].valid && reportsForm.controls['bin'].touched">
                                                        <!-- <b>!</b> Field Required -->
                                                        <div class="" [hidden]="!reportsForm.controls['bin'].hasError('required')">
                                                            <b>!</b> Field Required
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>

                                                <!-- <div class="row">
                                                    <div class="col-md-6 col-sm-12 colPadding"> -->
                                                <div class="m-section__content m-portlet__head-text ">
                                                    Select Date
                                                    <angular2-date-picker (onDateSelect)="onStartDateSelect($event)" formControlName="start_date" [settings]="settings"> </angular2-date-picker>
                                                    <div class="form-control-feedback" *ngIf="!reportsForm.controls['start_date'].valid && reportsForm.controls['start_date'].touched">
                                                        <!-- <b>!</b> Field Required -->
                                                        <div class="" [hidden]="!reportsForm.controls['start_date'].hasError('required')">
                                                            <b>!</b> Field Required
                                                        </div>

                                                    </div>

                                                    <div [hidden]="dateFlag==true" class="" style="color:red">
                                                        <b>!</b> Do not select future date
                                                    </div>
                                                </div>
                                                <br>
                                                <!-- </div>
                                                </div> -->

                                                <div class="getReportButton">
                                                    <button [disabled]="reportsForm.valid==false || dateFlag==false" class="btn btn-success" data-dismiss="modal" (click)="getReportDetails()">
                                                        Get Report
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <br>


                            <!-- *ngIf="!trackingInfo.result" -->
                            <div style="height: 400px;overflow-y: scroll" class="m-portlet__body">
                                <!--begin::Section-->
                                <div class="m-section">
                                    <h3 style="text-align:center" *ngIf="processingHttp==true">Fetching..</h3>
                                    <h3 style="text-align:center" *ngIf="processingHttp==false && reportDetails.length==0">No Report to show !!</h3>
                                    <div class="" id="no-more-tables" *ngFor="let reportItem of reportDetails; let i=index">
                                        <div class="table-responsive  cf">
                                            <hr>
                                            <h3>Bin : {{reportItem.GeoData.geo_nm | capitalize:true }}</h3>
                                            <table class="table ">
                                                <thead class="cf">
                                                    <tr>
                                                        <th>#</th>
                                                        <th *ngIf="reportsForm.value['reportType']=='Bin Wise'">IMEI</th>
                                                        <th *ngIf="reportsForm.value['reportType']=='Bin Wise'">Vehicle Number</th>
                                                        <!-- vehicle_number -->
                                                        <th>In Time</th>
                                                        <th>Out Time</th>
                                                        <th>Duration</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let vehicle of reportItem.vehicles let i=index">
                                                    <tr>
                                                        <td>{{i+1}}</td>
                                                        <td *ngIf="reportsForm.value['reportType']=='Bin Wise'">{{vehicle.imei}}</td>
                                                        <td *ngIf="reportsForm.value['reportType']=='Bin Wise'">
                                                            {{
                                                                vehicle.vehicle_number
                                                            }}
                                                        </td>
                                                        <td>{{vehicle.In_time | date:'shortTime'}}</td>
                                                        <td>{{vehicle.out_time | date:'shortTime'}}</td>
                                                        <td>{{vehicle.Duration | formatDateTime}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Section-->
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>