@import '../map/map.component.scss';

.m-form .m-form__group {
    margin-bottom: 0;
     padding-top: 0px; 
     padding-bottom: 0px; 
}
.m-section {
     margin: 0; 
}
.topBox{
    margin-top: 20px;
    // margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px

}
.noData{
    z-index: 9999;
    color: #03A9F4;
    margin-top: 109px;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 2rem;
    top: 40%;
    left: 20%;
}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #no-more-tables tr { border: 1px solid #ccc; }
  
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 36%; 
    white-space: normal;
    text-align:left;
  }
  
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
  
  /*
  Label the data
  */
    #no-more-tables td:before { content: attr(data-title); 
    }
  }
  .m-subheader .m-subheader__title.m-subheader__title--separator {
    border-right: none;
  }
  
  .alert {
    color: #ff0000c9;
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .createButton {
    // padding-left: 125px;
    margin: auto;
    float: right;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .chooseFile {
    justify-content: flex-start;
  }
  
  .form-control-feedback {
    color: #f4516c;
  }
  
  .ng-untouched[required] {
    border: 1px solid #ebedf2;
  }
  
  // .ng-valid[required], .ng-valid.required  {
  //     border: 1px solid #42A948; /* green */
  //   }
  //   .ng-invalid:not(form)  {
  //     border: 1px solid #f2506a; /* red */
  //   }
  .form-control-feedback {
    color: #f4516c;
  }
  
  .or,
  .upload {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
  }
  
  .chooseFile {
    display: unset;
    /* align-items: center; */
    /* justify-content: flex-end; */
    padding: 1rem;
    border-top: 1px solid #e9ecef;
  }
  
  .modal .modal-content .modal-footer {
    padding-bottom: 15px;
    padding-top: 4px;
  }
  
  // .m-btn--icon:hover{
  //     color:red;
  // }
  .btn-outline-brand {
    // background-color: #2d2f3e;
    // color: #2d2f3e;
    // border-color: #2d2f3e !important;
    margin: 3px;
  }
  
  // .btn-outline-info.focus, .btn-outline-info:focus, .btn-outline-info:hover {
  //     background: #2d2f3e;
  //     // color: #fff;
  //     border-color: #2d2f3e !important;
  // }
  // .btn.m-btn--pill:hover{
  //     background-color: #2d2f3e;
  // }
  .table td,
  .table th {
    vertical-align: middle;
  }
  
  .swamp {
    text-align: center;
    font-size: 0.8rem;
    span {
      // font-family:  'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 46px;
      padding: 0px 26px;
      border-radius: 50%;
      border: 3px solid #facea8;
      color: #f8bb86;
      line-height: 80px;
    }
    h5 {
      margin-top: 20px;
      color: #575962;
      font-weight: 500;
      font-size: 1rem;
    }
    .swamp-btn {
      margin-top: 10%;
    }
  }
  
  .m-form__actions .m-form__actions .row .col-md-6 {
    padding-left: 20px;
  }
  
  .m-input-icon.m-input-icon--left .form-control {
    // padding-left: 2.8rem;
    margin-bottom: 10px;
  }
  
  .active {
    background: none;
  }
  
  .active a {
    color: #575962 !important;
  }
  .colPadding{
    padding: 12px;
  }
  
  .button-cursor {
    cursor: not-allowed;
  }
  .getReportButton{
    display: flex;
    justify-content: center;
    padding: 30px;
  }