.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff;
}

.logo-image {
    img {
        vertical-align: unset;
        border-style: none;
        height: 19px !important;
        width: 91px !important;
    }
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 306px;
}

.search_body {
    border-top: 2px solid #f2f3f6;
    padding: 19px;
    max-height: 376px;
    overflow-y: scroll;
}

.userSearch {
    // margin: 12px;
    width: 100%;
    .userSearch-title {
        /* margin: 5px; */
        width: 100px;
        font-size: 1.2rem;
        /* border: 1px solid red; */
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        color: #716aca;
    }
    ul {
        margin-bottom: 19px;
        padding-left: 19px;
        font-size: 1.2rem;
        /* text-decoration: none !important; */
        list-style-type: none;
        li {
            margin: 12px;
        }
    }
}

.serach-content {
    position: relative;
    margin: 0 auto;
    width: 200px !important;
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 851px;
    left: -450px;
    /* min-height: 456px !important; */
}

.apsdrf {
    font-size:24px;
    color: white;
    font-weight: bold;
}

@media (max-width: 600px) {
    .m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
        width: 306px;
        left: 26px;
        /* min-height: 456px !important; */
    }
  }