<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Fetching Users..." type="ball-scale-multiple">
</ngx-spinner>
<!-- ADD user Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add New Driver
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-addUser" [formGroup]="addUserForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Driver's Name*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="name" formControlName="user_name" pattern="^[a-zA-Z]+(\s[a-zA-Z]*){0,2}$" maxlength="24" required placeholder="Enter Driver's full Name">
                                    <div class="form-control-feedback" *ngIf="!addUserForm.controls['user_name'].valid && addUserForm.controls['user_name'].touched">
                                        <!-- <b>!</b> Field Required -->
                                        <div class="" [hidden]="!addUserForm.controls['user_name'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!addUserForm.controls['user_name'].hasError('maxlength')">
                                            <b>!</b> Driver's name length limit reached
                                        </div>
                                        <div class="" [hidden]="!addUserForm.controls['user_name'].hasError('pattern')">
                                            <b>!</b> Driver's name should only be alphabets and less space
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">Driver's Number*
                                </label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="la la-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control m-input" placeholder="Enter Mobile Number" name="mobile" formControlName="user_mobile" pattern="^[789]\d{9}$" minlength="10" maxlength="10" required>
                                    </div>
                                    <span class="m-form__help">
                                        Please enter your 10 digit mobile number
                                    </span>
                                    <div class="form-control-feedback" *ngIf="!addUserForm.controls['user_mobile'].valid && addUserForm.controls['user_mobile'].touched">
                                        <div class="" [hidden]="!addUserForm.controls['user_mobile'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!addUserForm.controls['user_mobile'].hasError('minlength')">
                                            <b>!</b> Mobile Number should be 10 characters
                                        </div>
                                        <div class="" [hidden]="!addUserForm.controls['user_mobile'].hasError('pattern')">
                                            <b>!</b> Contact Number should be proper and unique
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Password*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="password" formControlName="user_password" placeholder="Choose Your Password" minlength="8" maxlength="8" required>

                                    <div class="form-control-feedback" *ngIf="!addUserForm.controls['user_password'].valid && addUserForm.controls['user_password'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addUserForm.controls['user_password'].hasError('minlength')">
                                            <b>!</b> Password should be 8 characters
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Email*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="email" formControlName="user_email" placeholder="Enter Your Email id" pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$" required>

                                    <div class="form-control-feedback" *ngIf="!addUserForm.controls['user_email'].valid && addUserForm.controls['user_email'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addUserForm.controls['user_email'].hasError('pattern')">
                                            <b>!</b> Please enter a valid email id
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!addUserForm.valid" [ngClass]="{'button-cursor' : !addUserForm.valid}" (click)="addUser(addUserForm.value)">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->

<!-- EDIT User Modal -->

<div class="modal fade" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Update User Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-edit" [formGroup]="editForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Driver's Name*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="name" formControlName="name" pattern="^[a-zA-Z]+(\s[a-zA-Z]*){0,2}$" maxlength="24" placeholder="Enter Driver's Name" required>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['name'].valid && editForm.controls['name'].touched">

                                        <div class="" [hidden]="!editForm.controls['name'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['name'].hasError('maxlength')">
                                            <b>!</b> Driver's name length limit reached
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['name'].hasError('pattern')">
                                            <b>!</b> Driver's name should only be alphabets and less space
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Driver's Number*
                                </label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="la la-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control m-input" name="mobile" formControlName="mobile" placeholder="Enter Mobile Number" pattern="^[789]\d{9}$" minlength="10" maxlength="10" required>
                                    </div>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['mobile'].valid && editForm.controls['mobile'].touched">
                                        <div class="" [hidden]="!editForm.controls['mobile'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['mobile'].hasError('minlength')">
                                            <b>!</b> Mobile Number should be 10 characters
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['mobile'].hasError('pattern')">
                                            <b>!</b> Mobile Number should be proper and unique
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Driver's Email*
                                </label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="la la-phone"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control m-input" name="email" formControlName="email" placeholder="Enter Email id" pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$" required>
                                    </div>
                                    <div class="form-control-feedback" *ngIf="!editForm.controls['email'].valid && editForm.controls['email'].touched">
                                        <div class="" [hidden]="!editForm.controls['email'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['email'].hasError('pattern')">
                                            <b>!</b>Email Id should be proper
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!editForm.valid" (click)="editUserDetails(editForm.value)">
                                            <!-- [ngClass]="{'button-cursor' : !editUserDetails.valid}" -->
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- End Modal-->

<!-- view User details Modal -->

<div class="modal fade" id="viewUserProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    User Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Name:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedUser.name |capitalize:true }}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Contact Number:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedUser.mobile}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Email:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedUser.email }}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Role:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedUser.role | capitalize:true }}</label>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- End Modal-->

<!-- Delete user Modal -->

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="swamp">
                    <span>!</span>
                    <br>
                    <h5>
                        Are you sure you want to delete it?
                    </h5>
                    <br> You won't be able to revert this!
                    <div class="swamp-btn">
                        <button type="button" class="swal2-cancel btn btn-sm btn-secondary m-btn m-btn--custom" aria-label="" style="display: inline-block;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="swal2-confirm btn btn-sm btn-danger m-btn m-btn--custom" aria-label="" data-dismiss="modal" (click)="deleteUser()">Yes, delete it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal-->

<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="row">
                            <div class="col-9">

                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Police Details
                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-10">
                                    <h3 class="m-portlet__head-text">
                                        Basic Tables
                                    </h3>
                                </div> -->
                            <div class="col-3 ">
                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air createButton" data-toggle="modal" data-target="#addUserModal" (click)="clearField()">
                                    <div data-content="Create New Driver Here" data-container="body" data-toggle="m-popover" data-placement="left">
                                        <i class="la la-plus"></i>
                                    </div>
                                </button>

                                <!-- <button class="btn btn-success" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                        data-placement="left" data-toggle="m-popover" type="button" data-original-title="" title=""> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="" id="no-more-tables">
                            <!-- roles viewAccess='["superAdmin","admin"]' -->
                            <div class="table-responsive  cf">
                                <div class="col-md-4 col-sm-12 offset-md-8 ">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search.." (keyup)="FilterByName()" id="inputName" [(ngModel)]="inputName">

                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <table class="table ">
                                    <thead class="cf">
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <!-- <th>Email</th> -->
                                            <!-- <th>organization</th> -->
                                            <th>Role</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ad of items; let i=index">
                                            <td data-title="#">{{i+1}}</td>
                                            <td data-title="Name">{{ad.name | capitalize:true}}</td>
                                            <td data-title="Mobile">{{ad.mobile}}</td>
                                            <!-- <td data-title="Email">{{ad.email}}</td> -->
                                            <!-- <td data-title="Email">{{ad.organization}}</td> -->
                                            <td data-title="Role">{{ad.role}}</td>
                                            <td>
                                            <button *ngIf="ad.isBlocked" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="unblockUser(ad)">
                                                    <i class="la la-eye-slash"></i>
                                            </button>
                                            <button *ngIf="!ad.isBlocked" class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="blockUser(ad)">
                                                <i class="la la-eye"></i>
                                        </button>
                                            <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="openModal(ad,i)" data-toggle="modal" data-target="#modalSlideUp">
                                                    <span style="margin-left: 5px;font-size:14px">Kms</span>
                                            </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class=" btn-group pull-right">
                                    <ul class="pagination">
                                        <li>
                                            <a (click)="previousPage()" href="#">
                                                <i class="fa fa-angle-left"></i> prev</a>
                                        </li>
                                        <li>
                                            <a (click)="nextPage()" href="#">next
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>