<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Fetching Live Location..."
    type="ball-scale-multiple">
</ngx-spinner>
<!-- <span> -->
<!-- <div *ngIf="allCasesData.length < 0"> -->
<div>
    <button style="margin:20px" *ngFor="let case of allCasesData;let i = index" id="{{case._id}}" (click)="changeCases(case._id)" class="btn btn-primary">
        <!-- Case {{i}} -->
        {{case?.requests[0]?.user?.name}}<br/>
        {{case?.requests[0]?.user?.mobile}}<br/>
        {{case?.type}}
    </button>
</div>
<!-- </div> -->
<!-- </span> -->
<div class="m-content">
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="m-portlet">
                    <div class="span11">
                        <div id="map" #map></div>
                        <ul id="instructions">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- <div class="m-portlet" *ngIf="flag==false">
                    <div class="m-portlet__body">
                        <div class="m-section" style="height:328px; ">
                            <div class="m-section__content m-portlet__head-text">
                                <h4>
                                    Details
                                </h4>
                            </div>
                            <div class="noData">No Data Found</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="m-portlet col-md-4 offset-md-1" *ngFor="let trackingInfo of trackingData">
                        <div class="m-portlet__body" style="padding: 1.2rem 0rem;" *ngIf="trackingInfo.result">
                            <div class="m-section" style="height:328px; ">
                                <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                        Details
                                    </h4>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            Vehicle Number
                                        </div>
                                        <div class="col-6">
                                           <b>{{trackingInfo.vehicleNumber}}</b> 
                                        </div>
                                       
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-3">
                                            Ignition
                                        </div>
                                        <div class="col-3">
                                            {{trackingInfo.result.ignitionStatus}}
                                        </div>
                                        <div class="col-3">
                                            Speed
                                        </div>
                                        <div class="col-2">
                                            {{trackingInfo.result.speed}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            TimeStamp
                                        </div>
                                        <div class="col-7">
                                            {{trackingInfo.result.time | date:'medium' || 'No Data Found'}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Odometer
                                        </div>
                                        <div class="col-7">
                                            {{trackingInfo.result.odometer || 'No Data Found'}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Fuel
                                        </div>
                                        <div class="col-7" *ngIf="trackingInfo.result.imei == '1933020123361'">
                                            {{ +trackingInfo.result.AnalogInput * 0.71428 || 0 }}
                                        </div>
                                        <div class="col-7" *ngIf="trackingInfo.result.imei != '1933020123361'">
                                            {{ +trackingInfo.result.AnalogInput * 0.71428  || 0 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="m-portlet col-md-4 offset-md-1">
                        <div class="m-portlet__body" style="padding: 1.2rem 0rem;">
                            <div class="m-section" style="height:128px;">
                                <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                        User Details
                                    </h4>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            <b>Name</b>
                                        </div>
                                        <div class="col-6">
                                            <b>{{caseDetails[0]?.user.name}}</b>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            Mobile
                                        </div>
                                        <div class="col67">
                                            <b>{{caseDetails[0]?.user.mobile}}</b>
                                        </div>
                                    </div><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="m-portlet col-md-4 offset-md-1" *ngFor="let police of caseDetails">
                        <div class="m-portlet__body" style="padding: 1.2rem 0rem;">
                            <div class="m-section" style="height:328px;">
                                <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                       Police Details
                                    </h4>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            <b>Name</b>
                                        </div>
                                        <div class="col-6">
                                            <b>{{police.police.name}}</b>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Mobile
                                        </div>
                                        <div class="col-7">
                                            <b>{{police.police.mobile}}</b>
                                        </div>
                                    </div><hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Status
                                        </div>
                                        <div class="col-7">
                                            <b>{{police.accepted}}</b>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">
                                            Served
                                        </div>
                                        <div class="col-7">
                                            <b>{{police.served}}</b>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet col-md-4 offset-md-1">
                            <div class="m-section__content m-portlet__head-text">
                                    <h4>
                                       Add Police to this case
                                    </h4>
                                </div>
                        <br/><br/><select class="form-control">
                            <option *ngFor="let police of freePolice">{{police?.userId?.name}}</option>
                        </select><br/><br/>
                        <textarea rows="3" type="text" class="form-control" placeholder="Message for policeman"></textarea><br/><br/>
                        <button class="btn btn-primary" (click)="addPolice()">
                                    <i class="la la-add">add</i>
                        </button><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>