<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Fetching Devices..." type="ball-scale-multiple">
</ngx-spinner>
<!-- ADD Device Modal  -->
<div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Add New Device
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-addDevice" [formGroup]="addDeviceForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    IMEI*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="imei" formControlName="imei" placeholder="Enter IMEI Number " pattern="^[0-9]{13}$" maxlength="13" required>

                                    <div class="form-control-feedback" *ngIf="!addDeviceForm.controls['imei'].valid && addDeviceForm.controls['imei'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addDeviceForm.controls['imei'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Imei Number
                                        </div>
                                        <div class="" [hidden]="!addDeviceForm.controls['imei'].hasError('maxlength')">
                                            <b>!</b> Imei Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Device Type*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="deviceType" formControlName="deviceType" placeholder="Enter Device Type" required>
                                    <div class="form-control-feedback" *ngIf="!addDeviceForm.controls['deviceType'].valid && addDeviceForm.controls['deviceType'].touched">
                                        <b>!</b> Field Required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    User Number*
                                </label>
                                <div class="col-lg-9">
                                    <ng-select [items]="userDetails" bindLabel="mobile" bindValue="mobile" formControlName="userNumber" clearAllText="Clear" required>
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.mobile}}
                                            <br/>
                                            <small>{{item.name}}</small>
                                        </ng-template>
                                    </ng-select>

                                    <div class="form-control-feedback" *ngIf="!addDeviceForm.controls['userNumber'].valid && addDeviceForm.controls['userNumber'].touched">
                                        <b>!</b> Field Required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Vehicle Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="vehicleNumber" formControlName="vehicleNumber" pattern="^[A-Z]{2}\s[0-9]{1,3}\s[A-Z]{1,2}\s[0-9]{1,4}$" maxlength="13" required placeholder="Enter Vehicle's Number">
                                    <span class="m-form__help">
                                             Eg: XX 00 XX 0000
                                    </span>
                                    <div class="form-control-feedback" *ngIf="!addDeviceForm.controls['vehicleNumber'].valid && addDeviceForm.controls['vehicleNumber'].touched">
                                        <div class="" [hidden]="!addDeviceForm.controls['vehicleNumber'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!addDeviceForm.controls['vehicleNumber'].hasError('maxlength')">
                                            <b>!</b> Vehicle Number length limit reached
                                        </div>
                                        <div class="" [hidden]="!addDeviceForm.controls['vehicleNumber'].hasError('pattern')">
                                            <b>!</b> Please Enter Proper Vehicle Number In Capitals
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Chassis Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="chassisNumber" formControlName="chassisNumber" placeholder="Enter Chassis Number " pattern="^[a-zA-Z0-9]{15}$" maxlength="15" required>

                                    <div class="form-control-feedback" *ngIf="!addDeviceForm.controls['chassisNumber'].valid && addDeviceForm.controls['chassisNumber'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!addDeviceForm.controls['chassisNumber'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Chassis Number
                                        </div>
                                        <div class="" [hidden]="!addDeviceForm.controls['chassisNumber'].hasError('maxlength')">
                                            <b>!</b> Chassis Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!addDeviceForm.valid" [ngClass]="{'button-cursor' : !addDeviceForm.valid}" (click)="addDevice(addDeviceForm.value)">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End add device Modal-->

<!-- EDIT Device Modal -->

<div class="modal fade" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Update Vehicle's Data
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="form-edit" [formGroup]="editForm" autocomplete="off">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    IMEI*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="imei" formControlName="imei" placeholder="Enter IMEI Number" pattern="^[0-9]{13}$" maxlength="13" required>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['imei'].valid && editForm.controls['imei'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!editForm.controls['imei'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Imei Number
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['imei'].hasError('maxlength')">
                                            <b>!</b> Imei Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Device Type*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="deviceType" formControlName="deviceType" placeholder="Enter Device Type" required>
                                    <div class="form-control-feedback" *ngIf="!editForm.controls['deviceType'].valid && editForm.controls['deviceType'].touched">
                                        <b>!</b> Field Required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    User Number*
                                </label>
                                <div class="col-lg-9">
                                    <ng-select [items]="userDetails" bindLabel="mobile" bindValue="mobile" formControlName="userNumber" clearAllText="Clear" required>
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.mobile}}
                                            <br/>
                                            <small>{{item.name}}</small>
                                        </ng-template>
                                    </ng-select>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['userNumber'].valid && editForm.controls['userNumber'].touched">
                                        <b>!</b> Field Required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Vehicle Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="vehicle_number" formControlName="vehicle_number" pattern="^[A-Z]{2}\s[0-9]{1,3}\s[A-Z]{1,2}\s[0-9]{1,4}$" maxlength="13" required placeholder="Enter Vehicle's Number">
                                    <span class="m-form__help">
                                        Eg: XX 00 XX 0000
                                    </span>
                                    <div class="form-control-feedback" *ngIf="!editForm.controls['vehicle_number'].valid && editForm.controls['vehicle_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!editForm.controls['vehicle_number'].hasError('required')">
                                            <b>!</b> Field Required
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['vehicle_number'].hasError('maxlength')">
                                            <b>!</b> Vehicle Number length limit reached
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['vehicle_number'].hasError('pattern')">
                                            <b>!</b> Please Enter Proper Vehicle Number In Capitals
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-3 col-form-label">
                                    Chassis Number*
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control m-input" name="chassis_number" formControlName="chassis_number" placeholder="Enter Chassis Number " pattern="^[a-zA-Z0-9]{15}$" maxlength="15" required>

                                    <div class="form-control-feedback" *ngIf="!editForm.controls['chassis_number'].valid && editForm.controls['chassis_number'].touched">
                                        <b>!</b> Field Required
                                        <div class="" [hidden]="!editForm.controls['chassis_number'].hasError('pattern')">
                                            <b>!</b> Please enter a valid Chassis Number
                                        </div>
                                        <div class="" [hidden]="!editForm.controls['chassis_number'].hasError('maxlength')">
                                            <b>!</b> Chassis Number length limit reached
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-success" data-dismiss="modal" [disabled]="!editForm.valid" (click)="editDeviceDetails(editForm.value)">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Edit Modal-->

<!-- view Device details Modal -->

<div class="modal fade" id="viewDeviceProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Device's Profile
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Device Type:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedDevice.deviceType}}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">IMEI:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedDevice.imei}}</label>
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="row">
                        <div class="col-4">
                            <label class="bold">User Name:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedDevice.userNumber.name}}</label>
                        </div>
                    </div>
                    <hr> -->
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Vehicle Number:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedDevice.vehicle_number |capitalize:true }}</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <label class="bold">Chassis Number:</label>
                        </div>
                        <div class="col-8">
                            <label class="semi-bold">{{selectedDevice.chassis_number}}</label>
                        </div>
                    </div>
                    <hr>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- End View Modal-->

<!-- Delete Device Modal -->

<div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="swamp">
                    <span>!</span>
                    <br>
                    <h5>
                        Are you sure you want to delete it?
                    </h5>
                    <br> You won't be able to revert this!
                    <div class="swamp-btn">
                        <button type="button" class="swal2-cancel btn btn-sm btn-secondary m-btn m-btn--custom" aria-label="" style="display: inline-block;" data-dismiss="modal">Cancel</button>
                        <button type="button" class="swal2-confirm btn btn-sm btn-danger m-btn m-btn--custom" aria-label="" data-dismiss="modal" (click)="deleteDevice()">Yes, delete it!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Delete Modal-->

<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="row">
                            <div class="col-9">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Device Details
                                    </h3>
                                </div>
                            </div>
                            <div class="col-3 ">
                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air createButton" data-toggle="modal" data-target="#addDeviceModal" (click)="clearField()">
                                    <div data-content="Create new Device here" data-container="body" data-toggle="m-popover" data-placement="left">
                                        <i class="la la-plus"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="" id="no-more-tables">

                            <div class="table-responsive  cf">
                                <div class="col-md-4 col-sm-12 offset-md-8 ">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="inputName" (keyup)="FilterByName()" [(ngModel)]="inputName">

                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <table class="table ">
                                    <thead class="cf">
                                        <tr>
                                            <th>#</th>
                                            <th>Device Type</th>
                                            <th>IMEI</th>
                                            <th>Driver Name</th>
                                            <th>Vehicle Number</th>
                                            <th>Chassis Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ad of items; let i=index">
                                            <td data-title="#">{{i+1}}</td>
                                            <td data-title="Device Type">{{ad.deviceType | capitalize:true}}</td>
                                            <td data-title="imei">{{ad.imei}}</td>
                                            <!-- <td data-title="User Number">{{ad.userNumber.mobile}}</td> -->
                                            <td data-title="User Name">{{ad.userNumber.name}}</td>
                                            <td data-title="Vehicle Number">{{ad.vehicle_number | capitalize:true}}</td>
                                            <td data-title="chassis Number">{{ad.chassis_number}}</td>
                                            <td>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#viewDeviceProfile" (click)="viewDeviceProfile(ad)">
                                                    <i class="la la-user"></i>
                                                </button>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" (click)="openModal(ad,i)" data-toggle="modal" data-target="#modalSlideUp">
                                                    <i class="la la-edit"></i>
                                                </button>
                                                <button class="btn btn-outline-brand m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air" data-toggle="modal" data-target="#deleteDeviceModal" (click)="openModal(ad,i)">
                                                    <i class="la la-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div class=" btn-group pull-right">
                                    <ul class="pagination">
                                        <li>
                                            <a (click)="previousPage()" href="#">
                                                <i class="fa fa-angle-left"></i> prev</a>
                                        </li>
                                        <li>
                                            <a (click)="nextPage()" href="#">next
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>