/* You can add global styles to this file, and also import other style files */

.pagination {
    li {
        padding: 0 1rem;
    }
}

.active {
    background: gray;
    a {
        color: #fff !important;
    }
}

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";